<!--
   View for Counting the questions that students got incorrectly
   -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-3 mb-3"><%= title %></h1>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">Incorrect Statistics</div>
                <div class="col">
                    <a href="/statistics" class="btn btn-success btn-sm float-end">back</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Question ID</th>
                        <th>Question</th>
                        <th>No. of Students who got the Answer Incorrect</th>
                    </tr>
                    <%
                    if(sampleData.length > 0)
                    {
                    sampleData.forEach(function(data){
                    %>
                        <tr>
                            <td><%= data.QueID %></td>
                            <td><%= data.Question %></td>
                            <td><%= data.incorrect %></td>
                        </tr>
                    <%
                    });
                    }
                    else
                    {
                    %>
                        <tr>
                            <td colspan="3">No Data Found</td>
                        </tr>
                    <%
                    }
                    %>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>