<!--
   View for editing the questions for Matching Type quiz type
   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>200 OK Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="stylesheets/dashboard.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Teacher Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/logout">Log out</a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Student Logs
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <form id="updateForm" method="post" enctype="multipart/form-data">
                <input type="hidden" name="type" value="e">
                <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Settings for Matching Type</h1>
                </div>
                <div class="container">
                    <div class="card-body">
                        <p> In the Matching Type section, similar from the Multiple Choice quiz type,
                            you can add as many choices as want per question, and you may also add an image to support
                            your question. Just press the "Add question" button to construct
                            your questions.
                        <p>
                    </div>
                </div>
                <% if (questions.length > 0) { %>
                    <div class="container-fluid">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <label class="form-label">Set Points For Each Question</label>
                                <div class="input-group mb-3">
                                    <input type="number" min="1" name="points" class="form-control" placeholder="Points"
                                           aria-label="Points"
                                           aria-describedby="basic-addon1" value="<%= questions[0].points %>" required>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Questions</h1>
                </div>
                <% questions.forEach(function(question, index){ %>
                    <div class="container-fluid">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <label
                                            class="form-label">Question <%= index + 1 %></label>
                                    <div class="input-group mb-3">
                                        <input type="text" name="title" class="form-control"
                                               placeholder="Question" aria-label="Question"
                                               aria-describedby="basic-addon1" value="<%= question.questions %>">
                                        <input type="hidden" name="questionIDs" value="<%= question.questionID %>"/>
                                    </div>
                                    <div class="d-flex flex-column align-items-center justify-content-center mb-3 border-bottom">
                                        <% if (question.image != null && question.image !== "") { %>
                                            <img src="<%= question.image %>"
                                                 class="img-thumbnail" id="img<%= question.questionID %>" alt="...">
                                        <% } else { %>
                                            <img src=""
                                                 class="img-thumbnail" id="img<%= question.questionID %>"
                                                 alt="No image chosen.">
                                        <% } %>
                                        <div class="input-group pt-3 mb-3">
                                            <label class="input-group-text">Upload</label>
                                            <input type="file" name="image" class="form-control"
                                                   id="inputFile<%= question.questionID %>" accept="image/*"
                                                   onchange="uploadImage(<%= question.questionID %>)">
                                            <input type="hidden" id="imageState<%= question.questionID %>"
                                                   name="imageState<%= question.questionID %>"
                                                   value="unchanged">
                                            <button class="btn btn-danger" type="button"
                                                    onclick="removeImage(<%= question.questionID %>);">Remove Image
                                            </button>
                                        </div>
                                    </div>
                                    <% qChoices.forEach(function(choice){ %>
                                        <% if (choice.question === question.questionID) { %>
                                            <input type="hidden" name="choiceIDs" value="<%= choice.choiceID %>"/>
                                            <div class="input-group mb-3">
                                                <div class="input-group-text">
                                                    <% if (choice.statusMark === "correct") { %>
                                                        <input class="form-check-input" type="radio"
                                                               name="choice_q<%- question.questionID %>"
                                                               aria-label="Radio button for following text input"
                                                               value="<%= choice.choiceID %>" checked>
                                                    <% } else { %>
                                                        <input class="form-check-input" type="radio"
                                                               name="choice_q<%- question.questionID %>"
                                                               aria-label="Radio button for following text input"
                                                               value="<%= choice.choiceID %>">
                                                    <% } %>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Choice"
                                                       name="choice"
                                                       aria-label="Choice" aria-describedby="basic-addon1"
                                                       value="<%= choice.choice %>">
                                            </div>
                                        <% } %>
                                    <% }); %>
                                    <button type="button" class="btn btn-danger col"
                                            onclick="deleteQuestion('matching-type', '<%= question.questionID %>')">
                                        Delete Question
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </form>
            <form id="addForm" method="post" enctype="multipart/form-data">
                <input type="hidden" name="type" value="e">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                    Add Question
                                </button>
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Question</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <label class="form-label">Add More Choice Slots</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" id="number"  min ="1"
                                                           onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                           name="choices" class="form-control"
                                                           placeholder="Choices"
                                                           aria-label="Choices"
                                                           aria-describedby="basic-addon1" value=""
                                                    >
                                                </div>
                                                <button type="button" class="btn btn-primary d-block mb-3"
                                                        onclick="setNumberOfChoices()">Submit
                                                </button>
                                                <label
                                                        class="form-label">Question</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="title" class="form-control"
                                                           placeholder="Question" aria-label="Question"
                                                           aria-describedby="basic-addon1" required>
                                                </div>
                                                <div class="d-flex flex-column align-items-center justify-content-center mb-3 border-bottom">
                                                    <img src=""
                                                         class="img-thumbnail" id="img1"
                                                         alt="No image chosen.">
                                                    <div class="input-group pt-3 mb-3">
                                                        <label class="input-group-text">Upload</label>
                                                        <input type="file" name="image" class="form-control"
                                                               id="inputFile1" accept="image/*"
                                                               onchange="uploadImage(1)">
                                                        <button class="btn btn-danger" type="button"
                                                                onclick="removeImage(1);">Remove Image
                                                        </button>
                                                    </div>
                                                </div>
                                                <div id="choices">
                                                    <% for (let i = 1; i < 3; i++) { %>
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-text">
                                                                <input class="form-check-input" type="radio"
                                                                       name="correctAnswer"
                                                                       aria-label="Radio button for following text input"
                                                                       value="<%= i %>" required>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="Choice"
                                                                   name="choice"
                                                                   aria-label="Choice" aria-describedby="basic-addon1 " required
                                                            >
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Never mind
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="addQuestion()">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class = "card-body">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-primary" onclick="updateQuestions()">Save Quiz Changes
                                </button>
                                <button type="button" class="btn btn-danger" onclick="discard()">Discard Changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="javascript/dashboard.js"></script>
</body>
</html>