<!--
   View for editing the quiz topics
   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>200 OK Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link href="stylesheets/dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.2.9/dist/css/tempus-dominus.css" />
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Teacher Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/logout">Log out</a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Student Logs
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Topic: <%= quiz.quizName %></h1>
            </div>
            <div class="container-fluid">
                <div class="card-body">
                    <h3>You can edit your Topic title and Set the Duration of the Exam:</h3>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form id="updateQuizForm" method="post" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <input type="text" name="quizTitle" class="form-control" placeholder="Quiz Title" aria-label="Quiz Title" aria-describedby="basic-addon1" value="<%= quiz.quizName %>" required />
                            </div>
                            <div class="row">
                                <div class="col-sm-12" id="htmlTarget">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="linkedPickers1Input" class="form-label">Quiz Opens On</label>
                                            <div class="input-group log-event" id="linkedPickers1" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                                <input id="linkedPickers1Input" type="text" class="form-control" data-td-target="#linkedPickers1" required value="<%= quiz.dateOpen%>" />
                                                <span class="input-group-text" data-td-target="#linkedPickers1" data-td-toggle="datetimepicker">
                                                            <span class="fa-solid fa-calendar"></span>
                                                        </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="linkedPickers2Input" class="form-label">Quiz Closes On</label>
                                            <div class="input-group log-event" id="linkedPickers2" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                                <input id="linkedPickers2Input" type="text" class="form-control" data-td-target="#linkedPickers2" required value="<%= quiz.dateClose%>" />
                                                <span class="input-group-text" data-td-target="#linkedPickers2" data-td-toggle="datetimepicker">
                                                            <span class="fa-solid fa-calendar"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Password: <strong><%= quiz.quizCode %></strong></p>
                            <button type="button" class="btn btn-primary" onclick="updateQuiz()">Update Title</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card-body">
                    <h4>Edit the Quiz Types you want to add questions to:</h4>
                </div>
                <p>
                    There are currently 5 quiz types available for you to choose from. Please note that there should be at least <b>one (1) question</b> per quiz type before you can submit or save the quiz questions of a particular
                    quiz type.
                </p>
            </div>
            <div class="container">
                <div class="album py-5">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <% var links = ['multiple-choice', 'tof', 'identification', 'fib', 'matching-type']; %> <% types.forEach(function (type, index) { %>
                            <div class="col">
                                <div class="card shadow">
                                    <img src="images/for_dribbble.gif" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title"><%= type.quizType %></h5>
                                        <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                                            <a href="/edit-<%= links[index] %>" type="button" class="btn btn-primary btn-sm">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.2.9/dist/js/tempus-dominus.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/solid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js"></script>
<script src="javascript/dashboard.js"></script>
</body>
</html>
