<!--
   View for the Teacher Dashboard
   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>200 OK Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="stylesheets/dashboard.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Teacher Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/logout">Log out</a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Student Logs
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="container-fluid">
                <div class="card-body">
                    <h3> Welcome Teacher! Create or Edit a Topic for your Quizzes: </h3>
                </div>
            </div>
            <div class="container">
                <div class="card-body">
                    <p>The Activate and Deactivate buttons trigger the availability of the quiz for a student to take.</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form action="/add-quiz" method="post">
                            <div class="input-group mb-3">
                                <input id="topic"
                                       type="text" name="topic" class="form-control" placeholder="Topic"
                                       aria-label="Topic"
                                       aria-describedby="basic-addon1" required>
                            </div>
                            <button id ="submitcrt" type="submit" class="btn btn-primary" onclick="reload()">Create a Topic
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <% quizzes.forEach(function (quiz) { %>
                            <div class="col">
                                <div class="card shadow">
                                    <img src="images/for_dribbble.gif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= quiz.quizName %></h5>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <form action="/edit-quiz">
                                                <input type="hidden" name="quiz" value="<%= quiz.quizID %>">
                                                <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                                            </form>
                                            <form action="/delete-quiz" method="post">
                                                <input type="hidden" name="quiz" value="<%= quiz.quizID %>">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <% if (quiz.status === "Active") { %>
                                            <form action="/set-quiz-status" method="post">
                                                <input type="hidden" name="quiz" value="<%= quiz.quizID %>">
                                                <input type="hidden" name="status" value="Inactive">
                                                <button type="submit" class="btn btn-danger btn-sm">Deactivate
                                                </button>
                                            </form>
                                        <% } else { %>
                                            <form action="/set-quiz-status" method="post">
                                                <input type="hidden" name="quiz" value="<%= quiz.quizID %>">
                                                <input type="hidden" name="status" value="Active">
                                                <button type="submit" class="btn btn-success btn-sm">Activate
                                                </button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="javascript/dashboard.js"></script>
</body>
</html>