<!--
   View for logging in
   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <title>200 OK Quiz</title>
</head>
<body>
<div class="container">
    <div class="forms-container">
        <div class="teacher-page">
            <form class="teacher-form" method="post">
                <img src="images/logo.png" class="quizlogo" alt="" />
                <h2 class="title">Teacher Login</h2>
                <div class="input-field">
                    <label>
                        <!-- Username Required and Maximum Length is 25 -->
                        <input type="text" placeholder="Username" id="username-teacher" name="username" maxlength="25" required/>
                    </label>
                </div>
                <div class="input-field">
                    <label>
                        <!-- Password Required and Maximum Length is 16 -->
                        <input type="password" placeholder="Password" id="password-teacher" name="password" maxlength="16" required/>
                        <i class="fa-solid fa-eye" id="show-password-teacher"></i>
                    </label>
                </div>
                <button id="play-btn" type="button"  class="btn solid" name="submit" onclick="login()">Login</button>
            </form>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Are you a student?</h3>
                <p> Start the quiz now. </p>
                <button class="btn transparent" id="teacher-btn" onclick="goToStudentPage()"> Click Here </button>
            </div>
            <img src="images/teacher1.png" class="image" alt="" />
        </div>
    </div>
</div>
<script src="javascript/login.js"></script>
</body>
</html>