<!--
   View for Student logs of all students who answered the quiz
   -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col">
        <a href="/" class="btn btn-success btn-sm float-end">back</a>
    </div>
    <h1 class="text-center mt-3 mb-3"><%= title %></h1>
    <p>
        <style> p{text-align: center}</style>
        Shows the answers of all students in each quiz topics
    </p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">Show how many students got questions incorrect/correct</div>
                <div class="col">
                    <a class="nav-link" id="correct" href="/countCorrect">
                        <span data-feather="users" class="align-text-bottom"></span>
                        <strong>Correct</strong>
                    </a>
                    <style>
                        #correct  {color: #56e33e;}
                    </style>
                </div>
                <div class="col">
                    <a class="nav-link" id="incorrect" href="/countIncorrect">
                        <strong>Incorrect</strong>
                    </a>
                    <style>
                        #incorrect  {color: #ff8a8a;
                        }
                    </style>
                </div>
                <div class="col">
                    <label for="Search">Search a Student:</label>
                    <input type="text" id="input" onkeyup="filterByID()" placeholder="Search">
                    <label for="students">Filter by Quiz Type:</label>
                    <select id="quiztype" onchange="filterByQuizType()" class='form-control'>
                        <option> </option>
                        <option value="Multiple Choice"> Multiple Choice</option>
                        <option value="True or False"> True or False</option>
                        <option value="Identification"> Identification</option>
                        <option value="Fill in the Blanks"> Fill in the Blanks</option>
                        <option value="Matching Type"> Matching Type</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="statTable">
                <tr>
                    <th onclick="sortTable(0)" >ID number</th>
                    <th onclick="sortTable(1)">Name</th>
                    <th onclick="sortTableNumber()">Question ID</th>
                    <th>Student Answer</th>
                    <th>Status</th>
                    <th>Quiz Type</th>
                    <th>Quiz Name ID</th>
                    <th>Quiz Name</th>
                </tr>
                <%
                if(sampleData.length > 0)
                {
                sampleData.forEach(function(data){
                %>
                    <tr>
                        <td><%= data.idNum %></td>
                        <td><%= data.Name %></td>
                        <td><%= data.QueID %></td>
                        <td><%= data.answers %></td>
                        <td class = "Status"><%= data.Status %></td>
                        <td><%= data.quizType %></td>
                        <td><%= data.quizID %></td>
                        <td><%= data.quizName %></td>
                    </tr>
                    </script>
                    <script>
                        var elements = document.getElementsByClassName('Status');

                        for (var i = 0; i < elements.length; i++) {
                            var value = elements[i].innerText || elements[i].textContent;

                            if (value === 'incorrect') {
                                elements[i].style.backgroundColor = '#ff8e8e';
                            } else if (value === 'correct') {
                                elements[i].style.backgroundColor = '#a1ffa2';
                            }
                        }
                    </script>
                <%
                });
                }
                else
                {
                %>
                    <tr>
                        <td colspan="5">No Data Found</td>
                    </tr>
                <%
                }
                %>
                <script>
                    function filterByID() {
                        var input, filter, table, tr, td, td2, i, txtValue;
                        input = document.getElementById("input");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("statTable");
                        tr = table.getElementsByTagName("tr");

                        for (i = 0; i < tr.length; i++) { //filter by name
                            // td = tr[i].getElementsByTagName("td")[0, 1];
                            td = tr[i].getElementsByTagName("td")[0]; //filter ID
                            td2 = tr[i].getElementsByTagName("td")[1]; //filter name
                            td3 = tr[i].getElementsByTagName("td")[5]; //filter per quiz ID
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1
                                    || (td2.innerHTML.toUpperCase().indexOf(filter) > -1)
                                    || (td3.innerHTML.toUpperCase().indexOf(filter) > -1)){
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }

                    function sortTable(n) {
                        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                        table = document.getElementById("statTable");
                        switching = true;
                        //Set the sorting direction to ascending:
                        dir = "asc";
                        /*Make a loop that will continue until
                        no switching has been done:*/
                        while (switching) {
                            //start by saying: no switching is done:
                            switching = false;
                            rows = table.rows;
                            /*Loop through all table rows (except the
                            first, which contains table headers):*/
                            for (i = 1; i < (rows.length - 1); i++) {
                                //start by saying there should be no switching:
                                shouldSwitch = false;
                                /*Get the two elements you want to compare,
                                one from current row and one from the next:*/
                                x = rows[i].getElementsByTagName("TD")[n];
                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                /*check if the two rows should switch place,
                                based on the direction, asc or desc:*/

                                if (dir == "asc") {
                                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                        //if so, mark as a switch and break the loop:
                                        shouldSwitch= true;
                                        break;
                                    }
                                } else if (dir == "desc") {
                                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                        //if so, mark as a switch and break the loop:
                                        shouldSwitch = true;
                                        break;
                                    }
                                }

                            }
                            if (shouldSwitch) {
                                /*If a switch has been marked, make the switch
                                and mark that a switch has been done:*/
                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                switching = true;
                                //Each time a switch is done, increase this count by 1:
                                switchcount ++;
                            } else {
                                /*If no switching has been done AND the direction is "asc",
                                set the direction to "desc" and run the while loop again.*/
                                if (switchcount == 0 && dir == "asc") {
                                    dir = "desc";
                                    switching = true;
                                }
                            }
                        }
                    }

                    function sortTableNumber() { //Sort numerically
                        var table, rows, switching, i, x, y, shouldSwitch;
                        table = document.getElementById("statTable");
                        switching = true;

                        while (switching) {
                            //start by saying: no switching is done:
                            switching = false;
                            rows = table.rows;

                            for (i = 1; i < (rows.length - 1); i++) {
                                //start by saying there should be no switching:
                                shouldSwitch = false;

                                x = rows[i].getElementsByTagName("TD")[2];
                                y = rows[i + 1].getElementsByTagName("TD")[2];
                                //check if the two rows should switch place:
                                if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                    //if so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                }
                            }
                            if (shouldSwitch) {
                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                switching = true;
                            }
                        }
                    }
                    function filterByQuizType() {
                        var input, filter, table, tr, td, i;
                        input = document.getElementById("quiztype");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("statTable");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[5];
                            td2 = tr[i].getElementsByTagName("td")[1]; //filter name
                            if (td) {
                                if (td.innerHTML.toUpperCase().indexOf(filter) > -1
                                    || (td2.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                </script>
            </table>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>