<!--
    View for the list of students handled by the teacher
    -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>200 OK Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="stylesheets/dashboard.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Teacher Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/logout">Log out</a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/students">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Student Logs
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Students</h1>
                <div class="btn-group">
                </div>
            </div>
            <div class="table-responsive">
                <table id = "student" class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope ="col">Select Quiz Topic</th>
                        <th scope="col">Select Quiz Type</th>
                        <th scope="col">View Answers And Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% students.forEach(function(student){ %>
                        <tr class="student-details">
                            <form action="/view" method= "get">
                                <td>
                                    <input type="none" id="studentID" name="idNum" value= <%= student.studentID %> readonly>
                                    <style>
                                        #studentID  {background-color: rgba(0,0,0,0);
                                            border: none;
                                        }
                                    </style>
                                </td>
                                <td><%= student.username %></td>
                                <td>
                                    <select id="nameQuiz" name="qzName" class="btn btn-secondary dropdown-toggle"  aria-expanded="false">
                                        <% quizzes.forEach(function (quiz) { %>
                                            <option name="qzName"><%= quiz.quizName %></option>
                                        <% }); %>
                                    </select>
                                </td>
                                <td>
                                    <select id="typeQuiz" name="quizType" onchange="filterByQuizType()">
                                        <option name="" >Select type</option>
                                        <option name="mcq" selected > Multiple Choice</option>
                                        <option name="tof">True or False</option>
                                        <option name="identi">Identification</option>
                                        <option name="fill">Fill in the Blanks</option>
                                        <option name="match">Matching Type</option>
                                    </select>
                                </td>
                                <td><button type="submit" id="viewAnswer" onclick="goToViewAnswers()">
                                        <strong> View</strong></button>
                                </td>
                                <style>
                                    #viewAnswer  {
                                        background-color: rgba(0,0,0,0);
                                        border:none;
                                        color: #41b72d;}
                                </style>
                            </form>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="javascript/dashboard.js"></script>
<script src="teacher/teacher.js"></script>
</body>
</html>