<!--
    View for viewing the answers of each student from the different quizzes and quiz type
    -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col">
        <a href="/students" class="btn btn-success btn-sm float-end">back</a>
    </div>
    <h1 class="text-center mt-3 mb-3"> <%= title %> from <%= type %></h1>
    <p>Shows all the listed answers of a student from a quiz type</p>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <label for="students">Search Question Number:</label>
                    <input type="text" id="input" onkeyup="searchByQuestion()" placeholder="Search">
                    <style>
                        .col-score {
                            right: 100px;
                        }
                    </style>
                </div>
                <div class ="col">
                    <% score.forEach(function(data1){ %>
                        <label> Score: <strong><%= data1.score %> </strong></label>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="statTable">
                <tr>
                    <th onclick="sortTable(0)" >ID number</th>
                    <th onclick="sortTable(1)">Name</th>
                    <th onclick="sortTableNumber(2)">Question ID</th>
                    <th>Student Answer</th>
                    <th>Status</th>
                    <th>Quiz Type</th>
                    <th>Quiz Name</th>
                </tr>
                <%
                if(sampleData.length > 0)
                {
                sampleData.forEach(function(data){
                %>
                    <tr>
                        <td><%= data.idNum %></td>
                        <td><%= data.Name %></td>
                        <td><%= data.QueID %></td>
                        <td><%= data.answers %></td>
                        <td class="Status"><%= data.Status %></td>
                        <td><%= data.quizType %></td>
                        <td><%= data.quizName %></td>
                    </tr>
                    <script>
                        var elements = document.getElementsByClassName('Status');

                        for (var i = 0; i < elements.length; i++) {
                            var value = elements[i].innerText || elements[i].textContent;
                            if (value === 'incorrect') {
                                elements[i].style.backgroundColor = '#ff8e8e';
                            } else if (value === 'correct') {
                                elements[i].style.backgroundColor = '#a1ffa2';
                            }
                        }
                    </script>
                <%
                });
                }
                else
                {
                %>
                    <tr>
                        <td colspan="5">No Data Found</td>
                    </tr>
                <%
                }
                %>
                <script>
                    function searchByQuestion() {
                        var input, filter, table, tr, td, td2, i, txtValue;
                        input = document.getElementById("input");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("statTable");
                        tr = table.getElementsByTagName("tr");

                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[2]; //filter question number

                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }

                    function sortTable(n) {
                        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                        table = document.getElementById("statTable");
                        switching = true;
                        //Set the sorting direction to ascending:
                        dir = "asc";
                        /*Make a loop that will continue until
                        no switching has been done:*/
                        while (switching) {
                            //start by saying: no switching is done:
                            switching = false;
                            rows = table.rows;
                            /*Loop through all table rows (except the
                            first, which contains table headers):*/
                            for (i = 1; i < (rows.length - 1); i++) {
                                //start by saying there should be no switching:
                                shouldSwitch = false;
                                /*Get the two elements you want to compare,
                                one from current row and one from the next:*/
                                x = rows[i].getElementsByTagName("TD")[n];
                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                /*check if the two rows should switch place,
                                based on the direction, asc or desc:*/

                                if (dir == "asc") {
                                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                        //if so, mark as a switch and break the loop:
                                        shouldSwitch= true;
                                        break;
                                    }
                                } else if (dir == "desc") {
                                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                        //if so, mark as a switch and break the loop:
                                        shouldSwitch = true;
                                        break;
                                    }
                                }

                            }
                            if (shouldSwitch) {
                                /*If a switch has been marked, make the switch
                                and mark that a switch has been done:*/
                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                switching = true;
                                //Each time a switch is done, increase this count by 1:
                                switchcount ++;
                            } else {
                                /*If no switching has been done AND the direction is "asc",
                                set the direction to "desc" and run the while loop again.*/
                                if (switchcount == 0 && dir == "asc") {
                                    dir = "desc";
                                    switching = true;
                                }
                            }
                        }
                    }

                    function sortTableNumber() { //Sort numerically
                        var table, rows, switching, i, x, y, shouldSwitch;
                        table = document.getElementById("statTable");
                        switching = true;
                        /*Make a loop that will continue until
                        no switching has been done:*/
                        while (switching) {
                            //start by saying: no switching is done:
                            switching = false;
                            rows = table.rows;
                            /*Loop through all table rows (except the
                            first, which contains table headers):*/
                            for (i = 1; i < (rows.length - 1); i++) {
                                //start by saying there should be no switching:
                                shouldSwitch = false;
                                /*Get the two elements you want to compare,
                                one from current row and one from the next:*/
                                x = rows[i].getElementsByTagName("TD")[2];
                                y = rows[i + 1].getElementsByTagName("TD")[2];
                                //check if the two rows should switch place:
                                if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                    //if so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                }
                            }
                            if (shouldSwitch) {
                                /*If a switch has been marked, make the switch
                                and mark that a switch has been done:*/
                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                switching = true;
                            }
                        }
                    }
                </script>
            </table>
        </div>
    </div>
</div>
</div>
<script src="teacher/teacher.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>