@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #ffccdc;
    --text-grey: #414141;
    --background: #FAFAFA;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: #F8C8DC;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: var(--main-color);
    height: 78px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    border: none;
}

main {
    margin-top: 78px;
    background: var(--background);
    min-height: 90vh;
    padding: 1rem;
}

h3{
    font-size: 36px;
    font-weight: lighter;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}


.button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.btn3 {
    background-color: #3CCFCF;
    width: 107px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 16px;
    font-weight: 5px;
    border-radius: 37px;
    color: #FFF;
    padding: 6px;
    /*display: block;
    margin: auto 5px;*/
}

.btn4 {
    background-color: red;
    width: 107px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 16px;
    font-weight: 5px;
    border-radius: 37px;
    color: #FFF;
    padding: 6px;
    display: block;
    margin: auto 5px;
}


.code-container{
    display: block;
    margin: auto;
    padding: 200px 0;
    width: 300px;
    height: 230px;
}

.code-container h4{
    font-size: 36px;
    color: #FFF;
    font-weight: 2;
    text-align: center;
}

.code-container input[type=text]{
    margin: 30px 0px;
    padding: 20px;
    height: 40px;
    width: 295px;
    border-radius: 5px;
    border: none;
    outline: none;
}







