@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
    --main-color: #ffccdc;
    --text-grey: #414141;
    --background: #FAFAFA;
}

body {
    background-color: var(--main-color);
    background-blend-mode: darken;
    background-size: 1520px 1520px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--background);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 95vw;
    overflow: hidden;
    color: var(--text-grey);
}
.quiz-header {
    background: #FFE57E;
}

h1 {
    text-align: left;
    padding: 1rem;
    margin: 0;
}

h2 {
    font-size: 20px;
    padding: 1rem;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem 0;
    padding-left: 20px;
}
ul li label {
    cursor: pointer;
}
input[type="submit"] {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}
input[type="submit"]:hover{
    background: linear-gradient(#f4e79d, #f2bd7a);
    color: black;
}
input[type="submit"]:focus {
    outline: none;
    background-color: #5e3370;
}

.meme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

span.score {
    background: linear-gradient(#f4e79d, #f2bd7a);
    border-radius: 10px;
    padding: 20px;
    color: black;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: auto;
}

/*The following lines are for the input box*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 96%;
    border: 0;
    border-bottom: 1px solid var(--text-grey);
    outline: 0;
    font-size: 15px;
    color: var(--text-grey);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

    .form__field ::placeholder {
         color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
         font-size: 15px;
         cursor: text;
         top: 20px;
     }

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #FFE57E;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--text-grey);
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
