@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

body {
    align-items: center;
    background-color: #F8C8DC;
}
.sidebar{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 95vw;
    overflow: hidden;
    color: black;
    margin: auto;
    width: 50%;
}
.sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: linear-gradient(#f4e79d, #f2bd7a);
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: #f2bd7a;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px lightpink;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: "Poppins", sans-serif;
    transition: all .5s ease;
}
a.active,a:hover{
    border-left: 5px solid #f2bd7a;
    color: mediumpurple;
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid lightpink;
    margin: 15px 30px;
    font-size: 29px;
    background: linear-gradient(#f4e79d, #f2bd7a);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}
label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}
@media(max-width : 860px){
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header,#btn,#cancel{
        display: none;
    }
    span{
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a{
        height: 60px;
    }
    .sidebar a i{
        margin-left: -10px;
    }
    a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span{
        opacity: 1;
        visibility: visible;
    }
}

header{
    background: linear-gradient(#f4e79d, #f2bd7a);
    text-align: center;
    width: 100%;
}

input[type="text"] {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 28px;
    font-family: inherit;
    padding: 1.3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
input[type="text"]:hover{
    background: linear-gradient(#f4e79d, #f2bd7a);
    color: black;
}
input[type="text"]:focus {
    outline: none;
    background-color: #5e3370;
}