@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #F8C8DC;
}

.card {
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: auto;
    background-color: #ffffff;
    padding: 10px 30px;
}

.card h3{
    font-size: 22px;
    font-weight:500;
}

.drop_box{
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
}

.drop_box h4{
    font-size: 16px;
    font-weight:400;
    color:#2e2e2e;

}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.button:hover{
    background: linear-gradient(#f4e79d, #f2bd7a);
    color: black;
}
.button:focus {
    outline: none;
    background-color: #5e3370;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}
a:hover{
    background: linear-gradient(#f4e79d, #f2bd7a);
    color: black;
}
a:focus {
    outline: none;
    background-color: #5e3370;
}
